body {
  background-color: #333;
}

a {
  color: white;
  font-size: 50px;
}

a:hover {
  color: red;
}

.navbar-fixed a:hover {
  color: black;
  background-color: transparent;
}

h1, h2, h3, h4, p, a{
  font: 300 20px "Lato", "Opens sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h2 {
  font-size: 50px;
  font-weight: light;
}

.field {
  font-size: 30%;
}

.languages {
  margin-top: -5%;
  margin-bottom: 0%;
  white-space: pre;
}

.picture {
  height: 40px;
}

.zero-margin{
  margin-bottom: 0%;
}

